server: 
  port: 8081
spring:
  profiles:
    active: dev
  application:
    name: mqtt-demo    
  main: 
    allow-bean-definition-overriding: true
mqtt:
  config: 
    channel1:
      url: [tcp://centos7docker:1883]
      topics: [topic1, topic2]
      qos: [1, 0]
      username: admin
      password: public
      timeout: 60
      kep-alive-interval: 60
      async: true
      client-id-append-ip: true
      consumer-client-id: consumer_client_test1
      producer-client-id: producer_client_test1 
      consumer-will: 
        qos: 1
        topic: will_topic
        payload: '{"id": "consumer_client_test1"}'
        retained: false
      producer-will: 
        qos: 1
        topic: will_topic
        payload: '{"id": "producer_client_test1"}'
        retained: false
    channel2:
      url: [tcp://centos7docker:1883]
      topics: [topic3, topic4]
      qos: [1, 0]
      username: admin
      password: public
      timeout: 60
      kep-alive-interval: 60
      async: true
      client-id-append-ip: false
      consumer-client-id: consumer_client_test2
      producer-client-id: producer_client_test2
      consumer-will: 
        qos: 1
        topic: will_topic
        payload: '{"id": "consumer_client_test2"}'
        retained: false
      producer-will: 
        qos: 1
        topic: will_topic
        payload: '{"id": "producer_client_test2"}'
        retained: false

